/* GENERAL */

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 12px;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F7F7FF;
    color: hsl(232, 13%, 33%);
    position: relative;
    background: url(/images/bg-top.svg), url(/images/bg-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: center right, 5px 60vh;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin-right: 8px;
    margin-left: 8px;
    ;
}


/* SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* TITLE */

.title,
nav {
    width: max-content;
    margin: 0 auto;
}

.navbar ul {
    display: flex;
}


/* MAIN CONTENT */

.month {
    display: none;
}

.main {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.card {
    text-align: center;
    background: rgba(255, 255, 255, 0.89);
    border-radius: 4px;
    width: 250px;
    height: 350px;
    margin: 16px 8px;
    transition: transform 0.5s ease-out;
}

.card:hover {
    transform: scale(1.1);
    color: white;
    background-image: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.card:hover button {
    color: hsl(232, 13%, 33%);
    background: white;
}

.card-content {
    margin: auto 0;
}

.card h1 {
    font-size: 2.5em;
}

.card p:first-child {
    border-top: none;
}

.card p {
    padding: 16px 16px 16px 16px;
    border-top: 1px solid hsl(231, 20%, 93%);
    width: 70%;
    margin: 0 auto;
}

button {
    text-align: center;
    width: 85%;
    margin: 16px auto;
    border-radius: 4px;
    background-image: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}


/* FOOTER */

footer {
    width: fit-content;
    margin: 16px auto;
}


/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
    .main {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    #pricing-img-bottom {
        display: none;
    }
    body {
        background: url(/images/bg-top.svg);
        background-repeat: no-repeat;
        background-position: 350px 0%;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
}